<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689501957472-okhc147jkv8b9ce9mbl8hjhn695uusa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689501957472-okhc147jkv8b9ce9mbl8hjhn695uusa0</string>
	<key>API_KEY</key>
	<string>AIzaSyAZeDzTkDGik4MeIcyH248uqjdVsIEpV94</string>
	<key>GCM_SENDER_ID</key>
	<string>689501957472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yellow.Trady</string>
	<key>PROJECT_ID</key>
	<string>trady-ee8b7</string>
	<key>STORAGE_BUCKET</key>
	<string>trady-ee8b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689501957472:ios:cb277f255f2e87c0820205</string>
</dict>
</plist>